@model User

<h1 class="display-4 text-center text-white">Register</h1>
<form class="whitebox border shadow p-3 mb-5 bg-body-tertiary rounded p-5 mt-5 col-sm-10 col-lg-6 mx-auto" asp-controller="User" asp-action="UserCreate" method="post">

    <label asp-for="Name"></label>
    <input class="form-control" type="text" asp-for="Name">
    <span class="d-block text-danger" asp-validation-for="Name"></span>

    <label class="mt-3" asp-for="Password"></label>
    <input class="form-control" type="password" asp-for="Password">
    <span class="d-block text-danger" asp-validation-for="Password"></span>
    
    <label class="mt-3" asp-for="Confirm">Confirm Password</label>
    <input class="form-control" type="password" asp-for="Confirm">
    <span class="d-block text-danger" asp-validation-for="Confirm"></span>
    
    <button class="btn btn-secondary d-block mx-auto mt-3">Register</button>
</form>