@{
    ViewData["Title"] = "Fantasy League";
}

<div class="d-flex justify-content-around">
    <div class="col-4">
        @await Html.PartialAsync("_Register")
    </div>
    <div class="col-4">
        @await Html.PartialAsync("_Login")
    </div>
</div>