@{
    ViewData["Title"] = "Fantasy League";
}

<div class="text-center">
    <div class="">
        @await Html.PartialAsync("_Login")
    </div>
    <div class="">
        @await Html.PartialAsync("_Register")
    </div>
</div>