@{
    ViewData["Title"] = "Scoring";
}

<div class="whitebox w-75-sm mx-auto p-3">
    <h2 class="text-center mb-3">Scoring</h2>
    <table class="table table-dark table-striped">
        <tbody>
            <tr>
                <th>White Horse</th>
                <td>5</td>
            </tr>
            <tr>
                <th>Hat Trick</th>
                <td>2</td>
            </tr>
            <tr>
                <th>High Ton</th>
                <td>3</td>
            </tr>
            <tr>
                <th>Low Ton</th>
                <td>1</td>
            </tr>
            <tr>
                <th>9 Mark</th>
                <td>4</td>
            </tr>
            <tr>
                <th>8 Mark</th>
                <td>3</td>
            </tr>
            <tr>
                <th>7 Mark</th>
                <td>2</td>
            </tr>
            <tr>
                <th>6 Mark</th>
                <td>2</td>
            </tr>
            <tr>
                <th>5 Mark</th>
                <td>1</td>
            </tr>
        </tbody>
    </table>
</div>